body{
    background: url('../img/backround1.jpg') no-repeat fixed center;
    background-size: cover;
}
@font-face {
    font-family: Gotham_Bold_Regular;
    src: url('../fonts/Gotham_Bold_Regular.ttf');
}

@font-face {
    font-family: GE_SS_Two_Bold;
    src: url('../fonts/GE_SS_Two_Bold.otf');
}

.title{
    font-family: GE_SS_Two_Bold,lato,sans-serif;
    font-size: 48px;
    color: #de0b1c;
    text-align: center;
}

.vc {
    margin-top: 23vh;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 4%;
}

.btn-continue{

    font-family: Gotham_Bold_Regular,lato,sans-serif;
    margin-top: 7%;
    background-color: #de0b1c;
    color: #ffffff;
    height: 48px;
}

.custom-select {

    font-family: Gotham_Bold_Regular,lato,sans-serif;
    margin-top: 7%;
    height: 48px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #f0f0f0;
    color: #888888;

}

.radio{

    font-family: Gotham_Bold_Regular,lato,sans-serif;
    display: flex;
    margin-top: 11%;
    color: #888888;

}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;

}



input[type=radio] {
    display: none;
}


label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}


.radio label:before {
    border-radius: 8px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 25px;
    text-align: center;
    line-height: 16px;
}


.connexion{
    margin-top: 23vh;
    background-color: #ffffff;
}

.connextion_title{

    font-family: Gotham_Bold_Regular,lato,sans-serif;
    color: #000000;
    font-size: 30px;

}

a{
    text-decoration: none;
    color: #ffffff;
}


.navbar  {
    background: transparent;
    border-color: transparent;
}


ul {
    font-size: 25px;
    list-style-type: none;
    color: #ffffff;
}

.nav-item {
    background-color: #de0b1c;
    border-radius: 50%;

}
.img {
    border-radius: 50%;
    background-color: #de0b1c;
}

.fa{
    padding-top:7px;
    width: 40px;
    height: 40px;
    text-align: center;

}

.title3{
    font-family: GE_SS_Two_Bold,lato,sans-serif;
    font-size: 42px;
    color: #de0b1c;
    text-align: center;
}

.regle{


    background: url("../img/regle.png")center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;


}

.btn-ps {

    text-align: center;
    height: 30px;
    font-family: GE_SS_Two_Bold,lato,sans-serif;
    font-size: 12px;
    background-color: #de0b1c;
    color: #ffffff;
}
.carreau-rouge{
    background-color:#de0b1c;
}

.identite{
    font-family: Gotham_Bold_Regular,sans-serif;
    font-size: 10px;
    color: #888888;

}
.input-formulaire{
    font-family: Gotham_Bold_Regular,sans-serif;
    background-color: #f0f0f0;
    color: #888888;
    border-radius: 4%!important;
}

.btn-continue{
    height: 40px;
}

.vc5 {
    margin-top: 11vh;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 4%;
}

.ps {
    font-family: Gotham_Bold_Regular,sans-serif;
    font-size: 8px;
}


.title5{
    font-family: Gotham_Bold_Regular,sans-serif;
    font-size: 48px;
    color: #de0b1c;
    text-align: center;
}

.sub-title5{
    display: inline-block;
    font-family: Gotham_Bold_Regular,sans-serif;
    font-size: 30px;
    color: #de0b1c;
    text-align: center;
}

#msg{
    font-family: Gotham_Bold_Regular,sans-serif;
    font-size: 13px;
    color: #888888;
    text-align: center;
}

.arabic{
    font-family: GE_SS_Two_Bold,lato,sans-serif;
    font-size: 30px;
    color: #de0b1c;
    text-align: center;
}

.btn-inscription{
    background-color: #de0b1c ;
    color: #ffffff;
    font-family: Gotham_Bold_Regular,sans-serif;
}

.alert-fxd{
    position: fixed;
    top: 1%;
    right: 1%;
    opacity: 0.7;
    background-color: #a94442;
}

.step{
    background-color: #676767;
    color: #fff;
}

.step-selected{
    background-color: #de0b1c;
}
.video-step-1, .video-step-2,.video-step-3{
    border: 2px solid #676767;
}
.video-selected{
    border: 2px solid #de0b1c;
}

.timeline-thumb{
    position: relative;
    top: -100%
}

.btn-facebook{
    padding: 1px;
    background-color: #0d6aad;
    color: #fff;
}